config/dev.yml
releases/*.tgz
releases/**/*.tgz
src/*.tgz
src/**/*.tgz
src/*.tar.gz
src/**/*.tar.gz
src/*.gz
src/**/*.gz
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
